.a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.movieWrapper {
  width: 50vw;
  margin: 0 auto;
}

.header {
  margin-top: 1rem;
}

.tags {
  margin-bottom: 1rem;
}

.title {
  margin-right: 1rem;
}

.release {
  margin-right: 1rem;
}
